---

import '../styles/portafolio.css'
import myImageP from '../assets/proyectos/favlashnuevo.png';
//import myImageP2 from '../assets/proyectos/2.png';
import myImageP3 from '../assets/proyectos/3.png';
import myImageP4 from '../assets/proyectos/4.png';
import myImageP5 from '../assets/proyectos/5.png';
import myImageP6 from '../assets/proyectos/6.png';
import myImageP7 from '../assets/proyectos/7.png';
import myImageP8 from '../assets/proyectos/8.png';
import myImageP9 from '../assets/proyectos/9.png';
import myImageP10 from '../assets/proyectos/10.png';
import myImageP11 from '../assets/proyectos/11.png';
import myImageP12 from '../assets/proyectos/12.png';
import myImageP14 from '../assets/proyectos/14.png';
import myImageP15 from '../assets/proyectos/15.png';
import myImageP16 from '../assets/proyectos/16.png';
import myImageP17 from '../assets/proyectos/17.png';
import myImageP18 from '../assets/proyectos/18.png';
import myImageP19 from '../assets/proyectos/19.png';
import myImageP20 from '../assets/proyectos/20.png';
import myImageP21 from '../assets/proyectos/perioclinic.png';
import myImageP22 from '../assets/proyectos/holistic.png';
import myImageP23 from '../assets/proyectos/tjplastic.png';
import myImageP24 from '../assets/proyectos/reinos.png';
---

<section class="portafolio" id="proyectos">
  <div class="cuadros-cont">

      <div class="main-title-port">
        <h4>Portafolio</h4>
        <h1>Colaboramos en grandes proyectos</h1>
      </div>

      <!-- <div class="carrusel-contenedor">
        <div class="scroll-container">
          <img src={myImageP.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP2.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP3.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP4.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP5.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP6.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP7.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP8.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP9.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP10.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP11.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP12.src} alt="desarrollo web" width="80%" class="port-img"/>
          <img src={myImageP13.src} alt="desarrollo web" width="80%" class="port-img"/>
        </div>
      </div>-->

      <div class="galeria">
        <a href="http://favlash.com/" target="_blank">
          <img src={myImageP.src} alt="desarrollo web" width="80%" class="visible"/>
        </a>
        
        
        <a href="https://danyaargote.com/" target="_blank">
          <img src={myImageP3.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://global-recruiters.com/" target="_blank">
          <img src={myImageP4.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://coinase.mx/" target="_blank">
          <img src={myImageP5.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="http://ciplastic.com/" target="_blank">
          <img src={myImageP6.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://www.techmeol.com/" target="_blank">
          <img src={myImageP7.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
       
        <a href="https://ixayaresidencial.mx/" target="_blank">
          <img src={myImageP8.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://gruascervantestijuana.com/" target="_blank">
          <img src={myImageP9.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://mudanzashermosillo.com.mx/" target="_blank">
          <img src={myImageP10.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
       
        <a href="https://madeirascollection.com" target="_blank">
          <img src={myImageP11.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
       <!--  <a href="https://thegrillgallery.com/" target="_blank">
          <img src={myImageP12.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>-->
        
        <a href="https://integratj.com.mx/" target="_blank">
          <img src={myImageP14.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
       
        <a href="https://ppsolutions.com.mx/" target="_blank">
          <img src={myImageP15.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
       
        <a href="http://clidpay.us/" target="_blank">
          <img src={myImageP16.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://snitchagency.com/" target="_blank">
          <img src={myImageP17.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>

        <a href="https://bajabox.com.mx/" target="_blank">
          <img src={myImageP18.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
       <!--  <a href="https://gynandmed.com/" target="_blank">
          <img src={myImageP19.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
        
        <a href="https://larectacoworking.com/" target="_blank">
          <img src={myImageP20.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>-->

           <a href="https://perioclinic.com.mx/" target="_blank">
          <img src={myImageP21.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>
       
            <a href="https://holisticancercoach.com/" target="_blank">
          <img src={myImageP22.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>

           <a href="https://tjplasticsurgeryofficial.com/" target="_blank">
          <img src={myImageP23.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>

           <a href="https://los12reinoszodiacales.com/" target="_blank">
          <img src={myImageP24.src} alt="desarrollo web" width="80%" class="port-img"/>
        </a>

        
        </div>

    <div class="paginacion">
        <button id="anterior" disabled>Anterior</button>
        <button id="siguiente">Siguiente</button>
    </div>

</div>


</section>

<script>
  import "../scripts/drag.js"
</script>