---

import '../styles/portafolio.css'
import myImageP from '../assets/imagenes-nuevas/favlash.png';
import myImageP2 from '../assets/imagenes-nuevas/dental.png';
import myImageP3 from '../assets/imagenes-nuevas/danya.png';
import myImageP4 from '../assets/imagenes-nuevas/global.png';
import myImageP5 from '../assets/imagenes-nuevas/coinase.png';
import myImageP6 from '../assets/imagenes-nuevas/ciplastic.png';
import myImageP7 from '../assets/imagenes-nuevas/tech.png';
import myImageP8 from '../assets/imagenes-nuevas/ixaya.png';
import myImageP9 from '../assets/imagenes-nuevas/gruas.png';
import myImageP10 from '../assets/imagenes-nuevas/mudanza.png';
import myImageP11 from '../assets/imagenes-nuevas/madeiras.png';
import myImageP12 from '../assets/imagenes-nuevas/grillgallery.png';
import myImageP13 from '../assets/imagenes-nuevas/iboga.png';
---

<section class="portafolio" id="portafolio">
  <div class="cuadros-cont">


    <div class="main-title-port">
      <h4>PORTAFOLIO</h4>
      <h1>Respaldados por grandes proyectos</h1>
    </div>

    <div class="carrusel-contenedor">
      <div class="scroll-container">
        <img src={myImageP.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP2.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP3.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP4.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP5.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP6.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP7.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP8.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP9.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP10.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP11.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP12.src} alt="desarrollo web" width="80%" class="port-img"/>
        <img src={myImageP13.src} alt="desarrollo web" width="80%" class="port-img"/>
      </div>
    </div>
      
</div>
</section>
