---
import '../styles/servicios.css'
import {Image} from 'astro:assets';
import myImageS from '../assets/d-web.png';
import myImageS2 from '../assets/d-movil.png';
import myImage3 from '../assets/googleads.png';
---

<section class="servicios">
    <div class="servicios-cont">
        <h4>SERVICIOS</h4>
        <h1>Impulsamos tu Éxito Digital con Soluciones Web a la Medida</h1>
  
    </div>


<div class="first-service">
    <div class="left-1">
<img 
     src={myImageS.src} 
     alt="desarrollo web"
     width="80%"
     style="border-radius: 2rem;"
     class="web-img"/>
     <!-- From Uiverse.io by Yaya12085 



 <!-- <div class="code-editor-css">
    <div class="header-css">
      <span class="title-css">CSS</span>
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="icon-css"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linecap="round" stroke-width="2" stroke="#4C4F5A" d="M6 6L18 18"></path> <path stroke-linecap="round" stroke-width="2" stroke="#4C4F5A" d="M18 6L6 18"></path> </g></svg>
    </div>
    <div class="editor-content-css">
      <code class="code-css">
        <p><span class="color-0-css">.code-editor </span> <span style="color:white;">[</span></p>

        <p class="property-css">
          <span class="color-2-css">max-width:</span><span></span>
          <span class="color-1-css">300px;</span>
        </p>
        <p class="property-css">
          <span class="color-2-css">background-color:</span><span></span>
          <span class="color-preview-1-css"></span><span style="color:white;">#fffffff;</span>
        </p>
        <p class="property-css">
          <span class="color-2-css"> box-shadow:</span><span></span>
          <span class="color-1-css">0px 4px 30px  <span class="color-preview-2"></span><span class="color-3">rgba(</span>0, 0, 0, 0.5<span class="color-3">);</span></span>
        </p>
        <p class="property-css">
          <span class="color-2-css">border-radius:</span><span></span>
          <span class="color-1-css">8px;</span>
        </p>
        <span>]</span>
      </code>
    </div>
  </div> -->

    </div>

    <div class="right-1">
        <h2>
            Desarrollo Web & E-Commerce
        </h2>
    

        <ul>
            <li><i class="bi bi-check-circle"></i> Construye Confianza y Credibilidad</li>
            <p>Genera confianza en tus clientes potenciales con un sitio web profesional</p>

            <li> <i class="bi bi-check-circle"></i>Fortalece tu Marca</li>
            <p>Creamos una identidad única y memorable que te distinga de la competencia.</p>

            <li> <i class="bi bi-check-circle"></i>Aumenta tu Alcance</li>
            <p>Expande tu mercado con sitios multi-idioma.</p>

            <li> <i class="bi bi-check-circle"></i>Impulsa tus Ventas</li>
            <p>Alcanca mayor visibilidad para tus productos y servicios.</p>

        </ul>
    </div>
</div>


<img 
src={myImageS2.src} 
alt="desarrollo web"
width="80%"
class="movil-img-2"/>

<div class="second-service">
    <div class="left-2">
        <h2>
            Desarrollo de Aplicaciones Moviles
        </h2>
       

        <ul>
            <li> <i class="bi bi-check-circle"> </i>Mayor Visibilidad y Accesibilidad</li>
            <p>Facilita el acceso a tus productos o servicios en cualquier momento y lugar.</p>

            <li><i class="bi bi-check-circle"></i>Innovación y Diferenciación</li>
            <p>Una aplicación móvil te brinda la oportunidad de ofrecer funciones únicas e innovadoras.</p>

            <li><i class="bi bi-check-circle"></i>Mejora de la Experiencia del Cliente</li>
            <p>Ofrece una experiencia de usuario intuitiva, rápida y personalizada.</p>

            <li><i class="bi bi-check-circle"></i>Ventaja Competitiva</li>
            <p>Diferenciate de la competencia y posicionate como una empresa innovadora y orientada al cliente.</p>

        </ul>
    </div>

    <div class="right-2">
        <img 
        src={myImageS2.src} 
     alt="desarrollo web"
     width="80%"
     style="border-radius: 2rem;"
     class="movil-img"/>
    </div>
</div>

<div class="third-service" >
    <div class="left-1">
        <img 
        src={myImage3.src} 
        alt="desarrollo web"
        width="80%"
        style="border-radius: 2rem;"
        class="mkt-img"/>
    </div>

    <div class="right-1">
        <h2>
           Marketing Digital
        </h2>
   

        <ul>

            <li><i class="bi bi-check-circle"></i>Campañas en Google Ads</li>
            <p>Visibilidad inmediata para tu negocio. Atrae clientes que buscan lo que ofreces, controla tu presupuesto y mide tus resultados.</p>

            <li><i class="bi bi-check-circle"></i>Alcance Global y Segmentación Precisa</li>
            <p>Segmenta tus campañas para dirigirte a los clientes ideales en función de sus intereses.</p>

            <li><i class="bi bi-check-circle"></i>Interacción y Engagement con los Clientes</li>
            <p>Interactua directamente con tus clientes, resuelve dudas y construye relaciones duraderas.</p>

            <li><i class="bi bi-check-circle"></i>Flexibilidad y Adaptabilidad</li>
            <p>Adapta tus estrategias rápidamente a los cambios del mercado, las nuevas tendencias y las necesidades de tus clientes.</p>

            <p></p>
        </ul>
    </div>
</div>

<div class="proy-scroll" id="proyectos"></div>
</section>