---
import '../styles/tecno.css';

import imgTec1 from '../assets/tecno/1.png';
import imgTec2 from '../assets/tecno/2.png';
import imgTec3 from '../assets/tecno/3.png';
import imgTec4 from '../assets/tecno/4.png'
import imgTec5 from '../assets/tecno/5.png'
import imgTec6 from '../assets/tecno/6.png'
---


    <section id="tecnologias">
     
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src}height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="" />
                </div>
  
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="" />
                </div>
 
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src} height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src}height="110"
                        width="110" alt="" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="" />
                </div>
        
            </div>
        </div>
    </section> 