---
import '../styles/tecno.css';

import imgTec1 from '../assets/grises/1.webp';
import imgTec2 from '../assets/grises/2.webp';
import imgTec3 from '../assets/grises/3.webp';
import imgTec4 from '../assets/grises/4.webp'
import imgTec5 from '../assets/grises/5.webp'
import imgTec6 from '../assets/grises/6.webp'
---


    <section id="nosotros" >
     
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="wordpress" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="react" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="astro" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src}height="110"
                        width="110" alt="html" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src} height="110"
                        width="110" alt="css" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="javascript" />
                </div>
  
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="wordpress" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="react" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="astro" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src} height="110"
                        width="110" alt="html" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src} height="110"
                        width="110" alt="css" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="javascript" />
                </div>
 
                <div class="slide">
                    <img src={imgTec1.src} height="110"
                        width="110" alt="wordpress" />
                </div>
                <div class="slide">
                    <img src={imgTec2.src} height="110"
                        width="110" alt="react" />
                </div>
                <div class="slide">
                    <img src={imgTec3.src} height="110"
                        width="110" alt="astro" />
                </div>
                <div class="slide">
                    <img src={imgTec4.src} height="110"
                        width="110" alt="html" />
                </div>
                <div class="slide">
                    <img src={imgTec5.src}height="110"
                        width="110" alt="css" />
                </div>
                <div class="slide">
                    <img src={imgTec6.src} height="110"
                        width="110" alt="javascript" />
                </div>
        
            </div>
        </div>
    </section> 